name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew make --stacktrace

      - name: Collect Files for Deployment
        run: |
          mkdir -p deploy
          # Busca el archivo .cs3 y lo renombra correctamente en deploy
          find . -name "*.cs3" -exec cp {} deploy/AnimeId.cs3 \;
          
          echo '[
            {
              "name": "AnimeId",
              "internalName": "AnimeId",
              "url": "AnimeId.cs3",
              "version": 1,
              "authors": ["6nandou"],
              "language": "en",
              "description": "Proveedor para AnimeIdHentai",
              "tvTypes": ["NSFW"],
              "iconUrl": "https://avatars.githubusercontent.com/u/87620680?v=4"
            }
          ]' > deploy/plugins.json

          echo "Archivos en deploy:"
          ls -R deploy

      - name: Deploy to Builds Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: deploy
          branch: builds
          clean: true
          target-folder: .
