name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew make --stacktrace

      - name: Collect Files for Deployment
        run: |
          mkdir -p deploy
<<<<<<< HEAD
          # Busca el archivo .cs3 dentro de la carpeta AnimeId
          find AnimeId/build/ -name "*.cs3" -exec cp {} deploy/AnimeId.cs3 \;
          
          echo '[
            {
              "name": "AnimeId",
              "internalName": "AnimeId",
              "url": "AnimeId.cs3",
              "version": 1,
              "authors": ["6nandou"],
              "language": "es",
              "description": "Animeh",
=======
          # Busca el archivo compilado .cs3 y lo mueve a deploy
          find . -name "*.cs3" -exec cp {} deploy/ \;
          
          # Genera el archivo plugins.json necesario para Cloudstream
          echo '[
            {
              "name": "AnimeIdHentai",
              "url": "ExampleProvider.cs3",
              "version": 1,
              "authors": ["6nandou"],
              "language": "es",
              "description": "Anime",
>>>>>>> 7c20cef81b457fc3c41e0ccb465d2ed99ca617f8
              "tvTypes": ["NSFW"],
              "iconUrl": "https://avatars.githubusercontent.com/u/87620680?v=4"
            }
          ]' > deploy/plugins.json

<<<<<<< HEAD
          echo "Archivos en deploy:"
=======
          echo "Contenido de la carpeta deploy:"
>>>>>>> 7c20cef81b457fc3c41e0ccb465d2ed99ca617f8
          ls -R deploy

      - name: Deploy to Builds Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: deploy
          branch: builds
          clean: true
<<<<<<< HEAD
          target-folder: .
=======
          target-folder: .
>>>>>>> 7c20cef81b457fc3c41e0ccb465d2ed99ca617f8
